[submodule "datasci4health.github.io"]
	path = datasci4health.github.io
	url = git@github.com:datasci4health/datasci4health.github.io.git
[submodule "projeto/MO413A-2026"]
	path = projeto/MO413A-2026
	url = git@github.com:luisangelico/MO413A-2026.git
	branch = gat
